<mat-dialog-content>
  <h2>Add new coffee</h2>
  <mat-form-field appearance="fill">
    <mat-label>Roaster</mat-label>
    <input matInput>
  </mat-form-field>
  <mat-form-field appearance="fill">
    <mat-label>Name</mat-label>
    <input matInput>
  </mat-form-field>
  <mat-form-field appearance="fill">
    <mat-label>Country</mat-label>
    <input matInput>
  </mat-form-field>
</mat-dialog-content>
<mat-dialog-actions>
  <button mat-button (click)="save()">Save</button>
</mat-dialog-actions>
