<mat-expansion-panel (opened)="panelOpenState = true"
                     (closed)="panelOpenState = false">
  <mat-expansion-panel-header>
    <mat-panel-title>
      Duane | {{review.dateTime | date }}
    </mat-panel-title>
    <!--      <div *ngIf="panelOpenState===false">-->
    <mat-panel-description>

      <!--  <button mat-icon-button [color]="color" *ngFor="let ratingId of ratingArr;index as i" [id]="'star_'+i" (click)="onClick(i+1)">-->
      <mat-icon *ngFor="let ratingId of ratingArr; index as i" color="accent">
        {{showIcon(i)}}
      </mat-icon>
      <!--  </button>-->
    </mat-panel-description>
    <mat-panel-description>
      BM:{{review.brewMethod}} T:{{review.temperature}} <!-- replace with icons -->
      <div *ngIf="panelOpenState==true">

      </div>
    </mat-panel-description>
    <!--      </div>-->
  </mat-expansion-panel-header>
  <!--Opened expansion body -->
</mat-expansion-panel>
