HELP.md
target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
!**/src/main/**/build/
!**/src/test/**/build/

### VS Code ###
.vscode/

# compiled output
/src/main/ui/menu/dist
/src/main/ui/menu/tmp
/src/main/ui/menu/out-tsc
# Only exists if Bazel was run
/src/main/ui/menu/bazel-out

# dependencies
/src/main/ui/menu/node_modules

# profiling files
/src/main/ui/menuchrome-profiler-events*.json
/src/main/ui/menuspeed-measure-plugin*.json
